.results {
    text-decoration: underline;
    text-align: center;
}


.table {
    text-emphasis: none;
    margin-left: 30%;
    margin-top: 30px;
    border: black solid;
    border-width: 1px;
    width: 40%;
    line-height: 30px;
}

.table thead {
    text-decoration: underline;
}

.table tr, th {
    border: black solid;
    border-width: 1px;
}